@font-face {
    font-family:'Noto Serif Khmer', serif;
    src: url(/font/NotoSerifKhmer-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family:'Inter', sans-serif;;
    src: url(/font/Inter-VariableFont_slnt\,wght.ttf);
}